<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Angular 10.1.4 | Tíäg Silvä: <a href="https://tiag.com.br" target="_blank">tiag.com.br</a></h2>
                <h1 class="heading"><a href="https://pokemontcg.io/" target="_blank">Pokémon TCG API</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <input type="text" class="form-control" [(ngModel)]="listCardFilter.name"
                    placeholder="Pesquisar por nome">
            </div>
        </div>
        <hr>
        <div class="row gallery">
                <img src='https://guess-that-pokemon.herokuapp.com/assets/images/loading.gif' />

                
            </ngx-spinner>
            <mat-card class="col-lg-2" *ngFor="let value of listCard  | filterBy: listCardFilter | sort:'name' ">
                <div>
                    <h4>
                        <b>ID:</b> {{value?.id}} <br />
                        <b>Nome:</b> {{value?.name }} <br />
                        <b *ngIf="value.types">Tipo: </b> <span *ngFor="let value2 of value?.types">{{value2}}</span>
                        <b *ngIf="!value.types">Carta Especial</b>
                    </h4>
                </div>
                <div class="gallery-item ">
                    <img class="gallery-image" [attr.src]="value.imageUrl">
                </div>
            </mat-card>
        </div>
    </div>
</div>