// =========================
// colors
// =========================
$master-grey: #f0f0f0;

// 3 shades of grey
$master-l-10: mix(white, $master-grey, 10%);
$master-d-10: mix(black, $master-grey, 10%);
$master-d-15: mix(black, $master-grey, 15%);

// font colors
$font-base: mix(black, $master-grey, 50%);
$font-dark: mix(black, $master-grey, 80%);
$font-spot: #08c;




// =========================
// one breakpoint is enough for this demo
// =========================
$wide-m:600px;

@mixin wide-m {
  @media (max-width: #{$wide-m}) {
    @content;
  }
}

@mixin border-cards {
  border-radius: 19px;
}

@mixin transition-opacity {
  transition: opacity 0.25s;
  -webkit-transtion: opacity 0.25s;
  -moz-transtion: opacity 0.25s;
  -ms-transtion: opacity 0.25s;
  -o-transtion: opacity 0.25s;
}

// @include wide-m {};



// =========================
// max-width for centered boxes
// =========================
$mx-width: 50rem;




// =========================
// reset and styling stuff
// =========================


.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Myriad Pro", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: $font-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include wide-m {
    font-size: 70%;
  }
}

a {
  text-decoration: none;
  color: $font-spot;
}

strong {
  font-weight: normal;
  color: $font-dark;
}




// =========================
// this wraps all items
// =========================
.wrap-3d {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $master-grey;
  transform-style: preserve-3d;
  perspective: 150rem;
  perspective-origin: 50% 110%;
}




// =========================
// this wraps one single item
// =========================
.item-3d {
  width: 100%;
  margin-bottom: 11%;
  padding-top: 4%;
  padding-bottom: 5%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  //box-shadow: inset 0 0 0 1px red;

  @include wide-m {
    margin-bottom: 40%;
  }
}

// =========================
// this fakes the 3d surface
// has to be wider than it's parent
// =========================
.ground {
  position: absolute;
  top: 0;
  right: -50%;
  bottom: 0;
  left: -50%;
  width: 200%;
  margin: 0 auto;
  background-image: linear-gradient($master-d-10, $master-l-10 60%);
  background-size: 100%;
  transform-origin: 50% 100%;
  transform: rotateX(70deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  //box-shadow: inset 0 0 0 10px black;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
  }

  // this contains a radial-gradient, which fakes the watch's dropshadow 
  &:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    max-width: $mx-width;
    background-image: radial-gradient($master-d-15, rgba($master-d-15, 0) 60%);
    background-size: 50% 80%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    //box-shadow: inset 0 0 0 5px purple;
  }

  // the front-side
  &:after {
    bottom: -500px;
    left: 0;
    height: 500px;
    background-image: linear-gradient($master-d-10, $master-l-10);
    transform-origin: 50% 0;
    transform: rotateX(-70deg);
    //box-shadow: inset 0 0 0 5px blue;
  }
}


//switching the dropshadows from left to right
.item-3d:nth-child(even) .ground:before {
  background-position: 100% 50%;
  animation: floating-shadow-r 5s -1s infinite;
}

.item-3d:nth-child(odd) .ground:before {
  background-position: 0 50%;
  animation: floating-shadow-l 5s -1s infinite;
}


// animations for the shadows
@keyframes floating-shadow-l {

  0%,
  100% {
    background-size: 35% 80%;
    background-position: 10% 80%;
  }

  50% {
    background-size: 50% 80%;
    background-position: 0 80%;
  }
}

@keyframes floating-shadow-r {

  0%,
  100% {
    background-size: 35% 80%;
    background-position: 90% 80%;
  }

  50% {
    background-size: 50% 80%;
    background-position: 100% 80%;
  }
}




// =========================
// a figure element that wraps 
// the image and the caption
// =========================
.item-content {
  position: relative;
  width: 100%;
  max-width: $mx-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transform: translateZ(0); // fixes the layers in Safari
  //box-shadow: inset 0 0 0 1px green;
}



// =========================
// additional wrap for the image
// =========================
.item-img {
  position: relative;
  float: left;
  display: block;
  width: 50%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  animation: floating 5s -1s infinite;
  //box-shadow: inset 0 0 0 1px red;



  img {
    display: block;
    width: 100%;
    height: auto;
    transform-origin: 50% 100%;
    transform: translateZ(-5rem);
    @include transition-opacity();
  }

  img:first-child {
    z-index: 9;
    position: absolute;
    opacity: 1 !important;
  }

  img:nth-child(2) {
    max-height: 549px;
    max-width: 400px;
    @include border-cards();
  }
}

.item-3d:nth-child(even) .item-img {
  float: right;
  order: 1;
}

// animation for the image
@keyframes floating {

  0%,
  100% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(0);
  }
}






// =========================
// the caption
// =========================
.item-caption {
  display: block;
  position: relative;
  float: left;
  width: 50%;
  //box-shadow: inset 0 0 0 1px red;
}

.item-3d:nth-child(odd) .item-caption {

  @include wide-m {
    padding-left: 5%;
  }
}

.item-3d:nth-child(even) .item-caption {
  text-align: right;
  padding-right: 10%;

  @include wide-m {
    padding-right: 5%;
  }
}

.item-caption p {
  line-height: 1.333;
  margin-bottom: 1.25rem;

  @include wide-m {
    margin-bottom: 0.5rem;
  }
}

.item-caption p a {
  position: relative;
  display: inline-block;
  margin-bottom: 0.3rem;

  &:before {
    content: '';
    position: absolute;
    right: 1rem;
    bottom: 3px;
    left: 0;
    height: 1px;
    background-color: $font-spot;
    opacity: 0;
    @include transition-opacity();
  }

  &:after {
    content: '\003E';
    padding-left: 0.5rem;
    text-decoration: none;
  }

  &:hover:before,
  &:active:before,
  &:focus:before {
    opacity: 0.5;
  }
}





// =========================
// the intro
// =========================
.intro {
  position: relative;
  width: 100%;
  max-width: $mx-width;
  margin: 0 auto;
  padding: 15% 2rem;
  text-align: center;

  &:after {
    content: '\2193';
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    font-size: 150%;
    animation: scroll-arrw 1s -1s infinite linear;
  }
}

@keyframes scroll-arrw {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(80%);
    opacity: 1;
  }

  100% {
    transform: translateY(160%);
    opacity: 0;
  }
}

.intro h1 {
  font-size: 250%;
  font-weight: normal;
  color: $font-dark;
}

.intro p {
  margin-bottom: 2rem;
  font-size: 175%;
  line-height: 1.4286;
}





// =========================
// the footer
// =========================
.footer {
  padding: 0 2rem 20% 2rem;
  text-align: center;
  transform: translateZ(0);

  a {
    display: inline-block;
    position: relative;
    color: $font-dark;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 3px;
      left: 0;
      height: 1px;
      background-color: $font-dark;
      opacity: 0;
      @include transition-opacity();
    }

    &:hover:before,
    &:active:before,
    &:focus:before {
      opacity: 0.5;
    }
  }
}





@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$pokemon: #EC9B3B;
$archer: #EE5487;
$giant: #F6901A;
$goblin: #82BB30;
$wizard: #4FACFF;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  &:focus {
    outline: 0;
  }
}


li {
  text-align: left;
}

.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash-card__image--pokemon {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');

  img {
    width: 189px;
    position: absolute;
    top: -18px;
    left: 54px;
  }
}


.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--pokemon {
  color: $pokemon;
}


.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--pokemon {
  background: $pokemon;

  .one-third {
    border-right: 1px solid #BD7C2F;
  }
}

.clash-card__unit-stats {

  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one-third {
    width: 50%;
    float: left;
    padding: 20px 15px;
    border: 0;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}

$border-radius-size: 14px;
$pokemon: #EC9B3B;
$archer: #EE5487;
$giant: #F6901A;
$goblin: #82BB30;
$wizard: #4FACFF;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  &:focus {
    outline: 0;
  }
}



.clash-card {
  background: white;
  width: 458px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash-card__image--pokemon {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');

  img {
    width: 189px;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 4px 2px #00000040;
    @include border-cards();
  }
}


.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--pokemon {
  color: $pokemon;
}

p.jc-center a {
  color: white;
}

p.jc-center {
  justify-content: center;
  display: flex;
  margin-top: 45px;

}

.clearfix {
  clear: both;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 0px 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--pokemon {
  background: $pokemon;

  .one-third {
    border-right: 1px solid #BD7C2F;
  }
}

.clash-card__unit-stats {

  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one-third {
    width: 50%;
    float: left;
    padding: 20px 15px;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}

sup {

  background: white;
  padding: 13px 6px;
  margin-top: -2px;
  border-radius: 18px;
  color: black;
  height: 26px;
}
