<section class="wrap-3d">
    <div class="item-3d">
        <span class="ground"></span>
        <figure class="item-content group">
            <div class="item-img">
                <img src="{{this.imageUrlHi}}" alt="" style="opacity:0;">
                <div class="pokedex-loading"></div>
                <img src="../../assets/images/card-pokemon.PNG" />
                <p class="jc-center"><br>
                    <a  class="btn btn-dark" >Voltar</a>
                </p>
                <!-- <ngx-spinner bdColor="rgba(244, 244, 244, .9)">
                    <img src='../../assets/images/loading.gif' />
                </ngx-spinner> -->
            </div>
            <figcaption class="item-caption">
                <div class="slide-container">
                    <div class="wrapper">
                        <div class="clash-card pokemon">
                            <div class="clash-card__image clash-card__image--pokemon">
                                <img src="{{this.imageUrl}}" alt="pokemon" />
                            </div>
                            <div class="clash-card__level clash-card__level--pokemon">{{this.type}}</div>
                            <div class="clash-card__unit-name">{{this.name}}</div>
                            <span>ID: {{this.id}}</span>
                            <div class="clash-card__unit-description">
                                <span><hr><b>Ataque(s)</b><hr><br></span>
                                <ul *ngFor="let attack of this.attacks">
                                    
                                    <li *ngIf="(attack.convertedEnergyCost) != ''"><b>Mana:</b> {{attack.convertedEnergyCost}}</li>
                                    <li *ngIf="(attack.damage) != ''"><b>Dano: </b>{{attack.damage}}</li>
                                    <li *ngIf="(attack.name) != ''"><b>Nome: </b>{{attack.name}}</li>
                                    <li *ngIf="(attack.text) != ''"><b>Descrição: </b>{{attack.text}}<br></li>
                                    <li class="center">----</li>
                                </ul>
                                <hr>
                            </div>

                            <div class="clash-card__unit-stats clash-card__unit-stats--pokemon clearfix">
                                <div *ngFor="let resistence of this.resistance">
                                    
                                    <div class="one-third">
                                        <div *ngIf="resistance.value != ''">Resistencia</div>
                                        <div class="stat">{{resistence.type}} <sup>{{resistence.value}}</sup>  </div>
                                        <div class="stat-value"> </div>
                                    </div>
                                </div>
                      
                                <div>
                                    <div class="one-third" *ngFor="let weak of this.weakness">
                                        <div *ngIf="weak.value != ''">Fraqueza</div>
                                        <div class="stat">{{weak.type}} <sup>{{weak.value}}</sup> </div>
                                        <div class="stat-value"> </div>
                                    </div>
                                </div>

                            </div>

                        </div> <!-- end clash-card barbarian-->
                    </div> <!-- end wrapper -->

                </div> <!-- end container -->
            </figcaption>
        </figure>
    </div>
</section>